{{ header }}
<div class="mobile-description" style="">
<p>Design your Customized T-Shirt and More</p>
</div>
	<div id="content">
		{{ column_left }}		
		{{ content_top }}		
		{{ content_bottom }}		
		{{ column_right }}		
	</div>
{{ footer }}